@model List<HourlyRate.Controllers.BookingsInDate>

@{
    ViewBag.Title = "Календарь бронирований";
    Layout = "_Layout";
}

<h2>Календарь бронирований</h2>
<h4 class="mb-5">@ViewBag.Address</h4>
<h3>Май</h3>

<div class="container">
    <div class="row mb-2">
        <div class="col"> Пн </div>
        <div class="col"> Вт </div>
        <div class="col"> Ср </div>
        <div class="col"> Чт </div>
        <div class="col"> Пт </div>
        <div class="col vacation-text"> Сб </div>
        <div class="col vacation-text"> Вс </div>
    </div>
    <div class="row">
        @{
            foreach (var dt in Model)
            {
               
                if (dt.Date.DayOfWeek == DayOfWeek.Monday)
                {
                    <div class="w-100"></div>
                }

                var isVacation = dt.Date.DayOfWeek == DayOfWeek.Sunday || dt.Date.DayOfWeek == DayOfWeek.Saturday;
                
                <div class="col rounded @(isVacation ? "vacation" : "working")" style="min-height: 150px;">
                    <span class="@(isVacation ? "vacation-text" : "")">@dt.Date.Day</span>
                    @foreach (var booking in dt.Bookings)
                    {
                        <div>
                            @Html.ActionLink($"{booking.StartHour}:00-{booking.FinishHour}:00 {booking.Title}", "Booking", new {id=booking.Id})
                        </div>
                    }

                </div>

                
            }
            
            
        }
    </div>
</div>

