@model RealEstateObject

@{
    ViewBag.Title = "Добавление объекта";
    Layout = "_Layout";
}

<h2>Добавление объекта</h2>
<form method="post">
    <div>
        <span>Название</span>
        <div>@Html.TextBoxFor(x => x.Title)</div>
    </div>
    <div><span>Описание</span>
        <div>@Html.TextAreaFor(x => x.Description)</div>
    </div>
    <div><label>Доп услуги</label>
        <ul>
            @for (int i=0; i< Model.Services.Count(); i++)
            {
                
                <li>       
                    <input type="checkbox" asp-for="@Model.Services[i].IsSelected" name="Services[@i].IsSelected"  />
                    <label asp-for="@Model.Services[i].IsSelected">@Model.Services[i].Name</label>
                    <input type="hidden" asp-for="@Model.Services[i].Id" />
                    <input type="hidden" asp-for="@Model.Services[i].Name" />                
                </li>
            }
        </ul>
    </div>
    
    <div><label>Платные услуги</label>
                <ul>
                @for (int i=0; i< Model.PaidServices.Count(); i++)
                {
                    
                        <li>       
                            <input type="checkbox" asp-for="@Model.PaidServices[i].IsSelected" name="PaidServices[@i].IsSelected"  />
                            <label asp-for="@Model.PaidServices[i].IsSelected">@Model.PaidServices[i].Name @Model.PaidServices[i].Price.ToString("#.##")</label>
                            <input type="hidden" asp-for="@Model.PaidServices[i].Id" />
                            <input type="hidden" asp-for="@Model.PaidServices[i].Name" />   
                            <input type="hidden" asp-for="@Model.PaidServices[i].Price" />   
                        </li>
                }
                </ul>
            </div>
    <input type="submit" value="Добавить"/>
</form>
