@using Microsoft.AspNetCore.Http.Extensions
@model RealEstateObject

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>@Model.Title</h2>
<form asp-controller="Owner" asp-action="Object" asp-route-id ="@Model.Id" method="post">
    @Html.HiddenFor(x=>x.Id)
    <div>
        <label>Название</label>
        <div>@Html.TextBoxFor(x => x.Title, new{@class="form-control"})</div>
    </div>
    <div><label>Адрес</label>
        <div>@Html.TextBoxFor(x => x.Address, new{@class="form-control"})</div>
    </div>
    <div><label>Округ</label>
            <div>@Html.TextBoxFor(x => x.Region, new{@class="form-control"})</div>
        </div>
    <div><label>Описание</label>
            <div>@Html.TextAreaFor(x => x.Description, new{@class="form-control"})</div>
        </div>
    <div><label>Цена</label>
        <div>@Html.TextBoxFor(x => x.PriceValue, new{@type = "number", min=100, @class="form-control"})</div>
    </div>
    <div><label>Площадь</label>
        <div>@Html.TextBoxFor(x => x.TotalArea, new{@type = "number", @class="form-control"})</div>
    </div>
    <div><label>Вместимость</label>
            <div>@Html.TextBoxFor(x => x.Capacity, new{@type = "number", @class="form-control"})</div>
        </div>

    <div><label>Доп услуги</label>
        <ul>
        @for (int i=0; i< Model.Services.Count(); i++)
        {
            
                <li>       
                @{
                    if (Model.Services[i].IsSelected)
                    {
                        <input type="checkbox" asp-for="@Model.Services[i].IsSelected" name="Services[@i].IsSelected" checked="checked" />    
                    }
                    else
                    {
                        <input type="checkbox" asp-for="@Model.Services[i].IsSelected" name="Services[@i].IsSelected" />
                    }
                }
                    
                    <label asp-for="@Model.Services[i].IsSelected">@Model.Services[i].Name</label>
                    <input type="hidden" asp-for="@Model.Services[i].Id" />
                    <input type="hidden" asp-for="@Model.Services[i].Name" />                
                </li>
        }
        </ul>
    </div>
    
    <div>
        <label>Платные услуги</label>
                                <ul>
                                @for (int i=0; i< Model.PaidServices.Count(); i++)
                                {
     
                                            <li>       
                                                            
                                                                @if (Model.PaidServices[i].IsSelected)
                                                                {
                                                                    <input type="checkbox" asp-for="@Model.PaidServices[i].IsSelected" name="PaidServices[@i].IsSelected" checked="checked" />    
                                                                }
                                                                else
                                                                {
                                                                    <input type="checkbox" asp-for="@Model.PaidServices[i].IsSelected" name="PaidServices[@i].IsSelected" />
                                                                }
                                                            
                                            <label asp-for="@Model.PaidServices[i].IsSelected">@Model.PaidServices[i].Name @Model.PaidServices[i].Price.ToString("#.##")</label>
                                            <input type="hidden" asp-for="@Model.PaidServices[i].Id" />
                                            <input type="hidden" asp-for="@Model.PaidServices[i].Name" />   
                                            <input type="hidden" asp-for="@Model.PaidServices[i].Price" />   
                                        </li>
                                }
                                </ul>
    </div>
    
    <input type="submit" value="Сохранить" class="btn btn-primary mt-2"/>
</form>

<form asp-controller="Owner" asp-action="UploadPhoto" asp-route-id="@Model.Id" enctype = "multipart/form-data" method="post">
    <div class="gallery">
        <label>Фото</label>
        <div class="container">
            <div class="row">
        @{
                foreach (var photo in Model.Photos)
                {
                    <div class="col photo" id="@photo.Id">
    
                    <img style="width: 150px;" src="@photo.Url" alt="фото объекта">
                    <a href="" onclick="return deletePhoto(@photo.Id)" class="btn btn-light">Удалить</a>
                    </div>
    
                }
        }
        </div>
                </div>
        </div>
    
    <div>Выберите фото</div>
    <input name="file" type="file">
    <input type="submit"   class="btn btn-light" value="Загрузить фото" />
</form>
<div></div>
<script>
function deletePhoto(id){
    $(".photo#" + id)[0].remove();
    const url = "/Owner/Photo/" + id;
    fetch(url, {method: 'DELETE'});
    return false;
    }
</script>
