@using Microsoft.AspNetCore.Http.Extensions
@model RealEstateObject

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>@Model.Title</h2>
<form asp-controller="Owner" asp-action="Object" asp-route-id ="@Model.Id" method="post">
    @Html.HiddenFor(x=>x.Id)
    <div>
        <span>Название</span>
        <div>@Html.TextBoxFor(x => x.Title)</div>
    </div>
    <div><span>Описание</span>
        <div>@Html.TextAreaFor(x => x.Description)</div>
    </div>
    <input type="submit" value="Сохранить"/>
</form>

<form asp-controller="Owner" asp-action="UploadPhoto" asp-route-id="@Model.Id" enctype = "multipart/form-data" method="post">
    <div class="gallery">
            <span>Фото</span>
            @{
                foreach (var photo in Model.Photos)
                {
    
                    <img style="width: 150px;" src="@photo.Url" alt="фото объекта">
                    <a href="" onclick="return deletePhoto(@photo.Id)">Удалить</a>
    
                }
            }
        </div>
    
    <div>Выберите фото</div>
    <input name="file" type="file">
    <input type="submit" value="Загрузить фото" />
</form>
<div></div>
<script>
function deletePhoto(id){
    const url = "/Owner/Photo/" + id;
    fetch(url, {method: 'DELETE'});
    return true;
    }
</script>
