@model RealEstateObject

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>@Model.Title</h2>
<form asp-controller="Owner" asp-action="EditObject" method="post">
    @Html.HiddenFor(x=>x.Id)
    <div>
        <span>Название</span>
        <div>@Html.TextBoxFor(x => x.Title)</div>
    </div>
    <div><span>Описание</span>
        <div>@Html.TextAreaFor(x => x.Description)</div>
    </div>

    <div class="gallery">
        <span>Фото</span>
        @{
            foreach (var photo in Model.Photos)
            {
                <img style="width: 150px;" src="@photo.Url" alt="фото объекта">
            }}
    </div>
    <input type="submit" value="Сохранить"/>
</form>

<form asp-controller="Owner" asp-action="UploadPhoto" method="post">
    <div>Выберите фото</div>
    <input name="image" type="file">
    <input type="submit" value="Загрузить фото" />
</form>
<div></div>
