@using Microsoft.AspNetCore.Http.Extensions
@model IList<RealEstateObject>

@{
    ViewBag.Title = "ЛК собственника";
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col text-left">
            <div class="h2">Ваши объекты</div>
        </div>
        <div class="col text-right" >
            @Html.ActionLink("+ДОБАВИТЬ ОБЪЕКТ", "New")
        </div>
    </div>
</div>


<div id="list">
    @{
        foreach (var realEstateObject in Model)
        {
            <div class="container" style="">
                <div class="row p-3" style="margin-bottom: 16px; background-color: #F1F2F4;">
                    <div class="col-9" style="margin-bottom: 16px;">
                        <div class="mb-1"><strong>@realEstateObject.Title</strong></div>
                        <div class="mb-1"><strong>@realEstateObject.Address &#9702; @realEstateObject.TotalArea&nbsp;м<sup>2</sup> на @realEstateObject.Capacity человек</strong></div>
                        <div class="mb-1"><strong>@realEstateObject.Price</strong></div>
                        <div class="mb-1 mt-3">@realEstateObject.Description</div>
                            <div class="row mt-3">
                                @foreach (var option in realEstateObject.Options)
                                {
                                    <div class="col-md-auto tick">&check;&nbsp;@option</div>
                                }
                        </div>


                    </div>
                    <div class="col-3" style="margin-bottom: 16px;">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    @Html.ActionLink("Управление", "Object", "Owner", new {id = realEstateObject.Id})
                                    @Html.RouteLink("Календарь", "Calendar", new {id = realEstateObject.Id})
                                </div>
                            </div>
                            <div class="row">
                                <div class="row" ><img style="width: 240px" src="@realEstateObject.ThumbnailUrl" alt=""/></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
    